<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <nav class="nav">
        <a href="./index.html">Home</a>
        <a href="./login.html">Login</a>
        <a href="./signup.html">Signup</a>
        <a href="./blogform.html">Add Blog</a>
        <a href="/blogs">Blogs</a>
        <a href="./users">Registered Users</a>
    </nav>
    <h1 style="text-align: center">Welcome</h1>
</body>
</html>